body {
    margin: 0;
    padding: 0;
}

#comment-area {
    max-width: 65%;
}

.post-title {
    background: red;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2vh;
    font-size: 30px;
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Pragati Narrow', sans-serif;
}

.post-option {
    padding: 3vw;
    /* width: 100vw; */
}

.author-option {
    width: 100%;
    margin-bottom: 5vh;
}


.edit-content {
    width: 100%;
}

#posttext {
    width: 100%;
    border: 1px solid red;
    resize: none;
    box-sizing: border-box;
    height: 30vh;


}

.edit-save {
    display: flex;
    flex-direction: row-reverse;
}

.author-name {
    background: orange;
    width: 50%;
    position: relative;
    top: 37px;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.edit-save button {
    border: 0;
    outline: 0;
    padding: 11px 11px 11px 25px;
    background: rgb(240, 20, 64);
    box-shadow: ;
    color: white;
}

.like button {
    margin-top: 3vh;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    background: rgb(240, 20, 64);
    color: white;
}

#comment button {
    margin-top: 3vh;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    background: rgb(240, 20, 64);
    color: white;
}